In [7]:
import sys
import os
import pandas as pd

In [5]:
sys.path.append(os.path.abspath('../src'))

In [6]:
from features import add_technical_indicators

In [ ]:
data_df = pd.read_csv('../data/raw/amzn.parquet')

In [9]:
nv_data_df = add_technical_indicators(data_df)

In [10]:
nv_data_df

,Open,High,Low,Close,Volume,MA20,MA50,BB_high,BB_low,rsi
Date,,,,,,,,,,
2020-01-02 00:00:00-05:00,93.750000,94.900497,93.207497,94.900497,80580000,NaN,NaN,NaN,NaN,NaN
2020-01-03 00:00:00-05:00,93.224998,94.309998,93.224998,93.748497,75288000,NaN,NaN,NaN,NaN,NaN
2020-01-06 00:00:00-05:00,93.000000,95.184502,93.000000,95.143997,81236000,NaN,NaN,NaN,NaN,NaN
2020-01-07 00:00:00-05:00,95.224998,95.694504,94.601997,95.343002,80898000,NaN,NaN,NaN,NaN,NaN
2020-01-08 00:00:00-05:00,94.902000,95.550003,94.321999,94.598503,70160000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2025-10-17 00:00:00-04:00,214.559998,214.800003,211.029999,213.039993,45986900,220.116001,225.5296,227.920207,212.311795,38.052919
2025-10-20 00:00:00-04:00,213.880005,216.690002,213.589996,216.479996,38882800,219.558501,225.4054,226.664405,212.452597,43.488619
2025-10-21 00:00:00-04:00,218.429993,223.320007,217.990005,222.029999,50494600,219.624500,225.4200,226.799620,212.449381,50.964530
2025-10-22 00:00:00-04:00,219.300003,220.009995,216.520004,217.949997,44308500,219.511500,225.3496,226.718906,212.304093,46.132929
2025-10-23 00:00:00-04:00,219.000000,221.300003,218.179993,221.089996,31540000,219.658500,225.2802,226.868911,212.448089,50.057123

In [ ]:
nv_data_df.dropna().to_csv('../data/processed/amzn_processed')

In [17]:
display(nv_data_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1461 entries, 2020-01-02 00:00:00-05:00 to 2025-10-23 00:00:00-04:00
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Open     1461 non-null   float64
 1   High     1461 non-null   float64
 2   Low      1461 non-null   float64
 3   Close    1461 non-null   float64
 4   Volume   1461 non-null   int64
 5   MA20     1442 non-null   float64
 6   MA50     1412 non-null   float64
 7   BB_high  1442 non-null   float64
 8   BB_low   1442 non-null   float64
 9   rsi      1448 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 125.6 KB

None